body{
    font-family: 'Montserrat';
    font-size: 22px;
    background-color: #fffefe;
    color: #000000;
    text-align: center;
    margin: 20px;
}

#stock-info {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.spinner-border {
    width: 3rem;
    height: 3rem;
}
